@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
font-size: 100%;
background: linear-gradient(68.15deg, #2F2325 2.62%, #F59062 96.61%);
}

.cabeçalho {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
gap: 5px 100px;
padding: 24px;
}

.cabeçalho-menu {
display: flex;
gap: 32px;
}


.logo-nome{
font-family: 'Righteous', cursive;
color: #FFF2E7;
font-weight: 400;
font-size: 22px;
}

.cabeçalho-menu-item {
font-family: 'Sarala', sans-serif;
color: #FFF2E7;
font-weight: 400;
font-size: 18px;
}

.conteudo {
border-top: 0.4px solid #FFF2E7;
margin-bottom: 323px;
}

.conteudo2 {

margin-bottom: 318px;
}

.conteudo-principal {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.conteudo-principal-escrito {
display: flex;
flex-direction: column;
gap: 32px;
}

.conteudo-principal-escrito-titulo {
font-family: 'Righteous', cursive;
font-weight: 400;
font-size: 60px;
color: #FFF2E7;
}
    
.conteudo-principal-escrito-subtitulo {
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 23px;
color: #ECD6C4;
}
    
.conteudo-principal-escrito-botao {
background-color: #F7CBB6;
width: 177px;
height: 57px;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 21px;
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 22px;
}

.conteudo-principal-imagem {
height: 459px;
width: 668px;
padding-top: 110px;
padding-right: 20px;
}

.rodape {
padding: 37px;
}

.rodape-imagem{
height: 48px;
display: block;
margin: 0 auto;
}

a {
color: inherit;
}



border-top: 0.4px solid #FFF2E7;